/* body {
    margin: 10%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  } */
  .secret-code-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .secret-code-dialog h2 {
    margin-bottom: 20px;
  }
  
  .secret-code-dialog input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .secret-code-dialog button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .secret-code-dialog button:hover {
    background-color: #0056b3;
  }
  
  .test-page {
    padding: 20px;
    max-width: 600px;
    margin: 10% auto;
  }
/*   
  h1 {
    font-size: 24px;
    color: #333;
  } */
  
  .file-input {
    display: block;
    margin: 20px 0;
  }
  
  .test-list {
    list-style-type: none;
    padding: 0;
  }
  
  .test-item {
    padding: 10px;
    margin: 10px 0;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .test-options {
    display: flex;
    flex-direction: column;
  }
  
  .test-option {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .test-option.selected {
    background: #28a745;
  }
  
  .test-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .next-btn,
  .finish-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .test-page {
      padding: 10px;
      margin: 10%;
      margin-top: 20%;
    }
  
    h1 {
      font-size: 20px;
    }
  
    .test-option {
      font-size: 14px;
    }
  }
  